NEXT_PUBLIC_SITE_URL=https://bvtypet1.vercel.app
NEXT_PUBLIC_CLINIC_PHONE=
NEXT_PUBLIC_CLINIC_EMAIL=
NEXT_PUBLIC_CLINIC_ADDRESS=
NEXT_PUBLIC_CLINIC_HOURS=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_ZALO_URL=
BOOKING_EMAIL_TO=
RESEND_API_KEY=
RESEND_FROM_EMAIL="Pet One <booking@your-verified-domain.vn>"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
